body {
  background-image: url(immagini/background.jpg);
  background-size: cover;


}

main {
  font-family: "Montserrat", sans-serif;
  width: 70%;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
  margin: auto;
  margin-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}


#logo{
  height: 100px;
  width: auto;
  padding-top: 75px;
}

/* titolo */
header>div {
  color: #00DD00;
  font-size: 15px;
  text-align: center;

}

/* barra di navigazione */
nav {
  width: 70%;
  height: auto;
  background: #00DD00;
  padding: 5px;
  margin: auto;

}

nav>div {
 text-align: center;
}



/* sezioni */

section {
  color: white;
  width: 70%;
  height: auto;
  margin: auto;
  margin-top: 25px;
}

.Monopattino {

 font-size: 18px;
}

.posizione>span {
  font-size: 12px;
  font-weight: 100;
}

/* barre ricarica monopattini */
.stato-ricarica {
  height: 25px;
  border-radius: 3px;
}

 #ricarica-monopattino1 {
   background-color: orange;
   width: 300px;

}

 #ricarica-monopattino2 {
   background-color: green;
   width: 500px;
 }

 #ricarica-monopattino3 {
   background-color: #DD3939;
   width: 150px;
 }
